.hidden {
    display: none;
}
.show-update-btn {
    display: inline-block;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navigation ul li {
    margin-right: 20px;
}

.navigation ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

main {
    padding: 20px;
}


.findBtn {
     position: absolute;
     top: 20px;
     right: 20px;
     text-align: center;
 }

.findBtn button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.findBtn button:hover {
    background-color: #45a049;
}
